{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    {% if status == 'accepted' %}
    <h1>Your report has been accepted</h1>
    {% else %}
    <h1>Your report has been rejected</h1>
    <p>Dear {{ name }},</p>
    {% endif %}
    {% if status == 'accepted' %}
    <p>This email is just for notifying you about your report has been accepted, it will take sometime for our head officer to approve the request</p>
    {% else %}
    <p>This email is just for notifying you about your report has been rejected, the information provided is insufficient</p>

    {% endif %}
    <p>Thank you</p>
    
</div>

{% endblock %}
